1. ClusteringData.csv를 읽어와 아래 문제에 답하세요.

In [25]:
import pandas as pd

clst_csv = pd.read_csv("mglearn/data/ClusteringData.csv")

(1) 첫 5행을 출력하세요.

In [26]:
clst_csv.head(5)

         ID  Korean  History  Math  Science
0  18090001    97.0     95.0  87.0     81.0
1  18090002    96.0     93.0  87.0     83.0
2  18090003   100.0     91.0  88.0     80.0
3  18090004   100.0     93.0  90.0     83.0
4  18090005   100.0     95.0  89.0     81.0

(2) describe를 include='all' 옵션을 사용하여 데이터 요약을 출력하세요.

In [27]:
clst_csv.describe(include = 'all')

                 ID      Korean     History        Math     Science
count  1.000000e+03  998.000000  997.000000  994.000000  999.000000
mean   1.809050e+07   81.827655   85.969910   84.612676   79.542543
std    2.888194e+02   11.304146   14.248127    4.763054   12.010097
min    1.809000e+07   65.000000   55.000000   75.000000   50.000000
25%    1.809025e+07   72.000000   80.000000   81.000000   80.000000
50%    1.809050e+07   80.000000   93.000000   84.000000   82.000000
75%    1.809075e+07   95.000000   97.000000   88.000000   84.000000
max    1.809100e+07  100.000000  100.000000   95.000000  100.000000

(3) .info 함수를 사용해 각 열에 non-null이 몇개씩 있는지 확인할 수 있도록 출력하세요.

In [28]:
clst_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
ID         1000 non-null int64
Korean     998 non-null float64
History    997 non-null float64
Math       994 non-null float64
Science    999 non-null float64
dtypes: float64(4), int64(1)
memory usage: 39.1 KB

(4) .isna().sum()을 출력해 NA가 각열에 몇개씩 있는지 확인하시오.

In [29]:
clst_csv.isna().sum()

ID         0
Korean     2
History    3
Math       6
Science    1
dtype: int64

(5) NA 값을 모두 제거하세요. 제거 후 na가 몇개인지와 차원을 출력하세요.

In [45]:
clst_na = clst_csv.dropna(inplace=True)
clst_csv.isna().sum()

ID         0
Korean     0
History    0
Math       0
Science    0
dtype: int64

In [46]:
str(clst_csv.shape)

'(989, 5)'

(6) ID 열을 삭제하고, tr에는 899번까지를 포함하고, tt에는 900번부터 끝까지 포함하도록 데이터를 나누세요.
그리고, 각 데이터셋의 차원을 출력하세요.

In [40]:
clst=clst_csv.drop('ID',axis=1)
tr=clst[0:899]
tt=clst[900:]
print("    " + str(tr.shape) + '  ' + str(tt.shape))

    (899, 4)  (89, 4)

(7) K-means를 random_state = 1809로 클러스터 수는 4개로 하여 훈련세트를 사용해 실행하고, 각 클러스터에 몇 개의 샘플이 있는지 확인하세요.

In [81]:
from sklearn.cluster import KMeans

In [92]:
cls_km = KMeans(n_clusters = 4, random_state=1809).fit(tr)
tr_pred = pd.Series(cls_km.predict(tr))
print((tr_pred.value_counts()))

0    340
2    322
3    120
1    117
dtype: int64

(8) 테스트셋에 위의 k-mean 결과를 적용해 클러스터별 수를 출력하세요.

In [88]:
tt_pred = pd.Series(cls_km.predict(tt))
print((tt_pred.value_counts()))

0    46
2    43
dtype: int64

(9) 전체 데이터로 병합군집을 클러스터 갯수 4개로 실행해 클러스터별 샘플 개수를 출력하세요.

In [90]:
from sklearn.cluster import AgglomerativeClustering
agg = AgglomerativeClustering(n_clusters = 4)
all_pred = pd.Series(agg.fit_predict(clst))
print((all_pred.value_counts()))

0    387
2    365
3    120
1    117
dtype: int64

(10) 전체 데이터에 DBSCAN을 최소샘플 수 4, 거리를 15로 하여 실행하고, 클러스터 별 샘플 개수를 출력하세요.

In [91]:
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(min_samples =4, eps = 15)
db_all_pred= pd.Series(dbscan.fit_predict(clst))
print((db_all_pred.value_counts()))

0    387
1    365
3    120
2    117
dtype: int64